@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');

h1 {
    font-family: Tiny5, sans-serif;
    font-style: italic;
    font-weight: 200;
    /* da 100 a 900 */
    font-variant: small-caps;
    text-align: center;
    line-height: 5;
    /* spazio tra le righe */
}

p {
    line-height: 2rem;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px #000, -4px -4px 8px #333;
    /* ombre multiple */
}

p span {
    font-size: 80px;
    font-family: cursive;
}

/*
DIMENSIONI

em -> si basa sul genitore
rem -> si basa sul root
% -> si basa sul genitore
vw -> si basa sulla larghezza del viewport
vh -> si basa sull' altezza del viewport 
*/

/* Selettore di discendenti */
.discendenti p {
    font-size: 25px;
    color: red;
}

/* Selettore di figli diretti */
.diretti > h4 {
    font-size: 25px;
    color: red;
}

/* Selettore di figli adiacenti */
.adiacenti + h5 {
    text-decoration: underline;
}

/* Selettore di fratelli adiacenti */
.fratelli ~ h5 {
    text-decoration: underline;
}

a:link, a:visited {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.child,.alternato {
    border-collapse: collapse;
    width: 500px;
}

.child th, .child td {
    border:1px solid black
}

.child th {
    background-color: gray;
}

.child tfoot tr {
    background-color: cyan;
}

.child tbody tr:first-child, .child tbody tr:last-child {
    background-color: yellow;
}

/* even = righe pari - odd = righe dispari */
.alternato tr:nth-child(odd) {
    background-color: blue;
    color: white;
}

.list li::before {
    content:"Studente : "
}

.list li::after {
    font-weight: bold;
    content:" - corso epicode fs0624"
}